
*.lock
.vs/App/
App.Api/App.Api.Tests/obj/
App.Api/App.Api/obj/
App.Services.Identity/.vs/
App.Services.Identity/App.Services.Identity.Tests/bin/
App.Services.Identity/App.Services.Identity/bin/

App.Services.Identity/App.Services.Identity.Tests/obj/
App.Services.Identity/App.Services.Identity/obj/
App.Services.Account/App.Services.Account.Tests/obj/
App.Services.Account/App.Services.Account/obj/
App.Services.Account/App.Services.Account/bin/
App.Services.Account/App.Services.Account.Contract/obj/
App.Services.Account/App.Services.Account.Tests/bin/
App.Services.Account/App.Services.Account.Tests/debug/

App.Services.Account/App.Services.Account.Contract/obj/
App.Services.Account/App.Services.Account.Contract/bin/
App.Services.Identity/App.Services.Identity.Contract/obj/
App.Services.Identity/App.Services.Identity.Contract/bin/

App.Services.Account/.vs/
Framework/Framework/obj/
Framework/Framework/debug/
Framework/Framework/bin/
Framework/Framework.CQRS/bin/
Framework/Framework.CQRS/debug/
Framework/Framework.CQRS/obj/
Framework/Framework.Auth/bin/
Framework/Framework.Auth/debug/
Framework/Framework.Auth/obj/
Framework/Framework.HTTP/bin/
Framework/Framework.HTTP/debug/
Framework/Framework.HTTP/obj/
Framework/Framework.MongoDb/bin/
Framework/Framework.MongoDb/debug/
Framework/Framework.MongoDb/obj/
Framework/Framework.RabbitMq/bin/
Framework/Framework.RabbitMq/debug/
Framework/Framework.RabbitMq/obj/
Framework/Framework.Swagger/bin/
Framework/Framework.Swagger/debug/
Framework/Framework.Swagger/obj/
