
*.lock
.vs/App/
App.Api/App.Api.Tests/obj/
App.Api/App.Api/obj/
App.Framework/bin/
App.Framework/obj/
App.Services.Identity/.vs/
App.Services.Identity/App.Services.Identity.Tests/bin/
App.Services.Identity/App.Services.Identity/bin/

App.Services.Identity/App.Services.Identity.Tests/obj/
App.Services.Identity/App.Services.Identity/obj/
App.Services.Account/App.Services.Account.Tests/obj/
App.Services.Account/App.Services.Account/obj/
App.Services.Account/App.Services.Account/bin/
App.Services.Account/App.Services.Account.Contract/obj/
App.Services.Account/App.Services.Account.Tests/bin/
App.Services.Account/App.Services.Account.Tests/debug/

App.Services.Account/App.Services.Account.Contract/obj/
App.Services.Account/App.Services.Account.Contract/bin/
App.Services.Identity/App.Services.Identity.Contract/obj/
App.Services.Identity/App.Services.Identity.Contract/bin/

*.ide
App.Services.Account/.vs/
