
.vs/
Framework.Auth/bin/
Framework.Auth/obj/
Framework.CosmosDb/bin/
Framework.CosmosDb/obj/
Framework.CQRS/bin/
Framework.CQRS/obj/
Framework.MongoDb/bin/
Framework.MongoDb/obj/
Framework.PostgreSQL/bin/
Framework.PostgreSQL/obj/
Framework.RabbitMq/bin/
Framework.CQRS/obj/
Framework.RabbitMq/obj/
Framework.ServiceBus/obj/
Framework.ServiceBus/bin/
Framework.Sql/obj/
Framework.Sql/bin/
Framework/obj/
Framework/bin/
Framework.Swagger/obj/
Framework.Swagger/bin/
Framework.CronJobs/bin/
Framework.CronJobs/obj/
Framework.HTTP/obj/
Framework.HTTP/bin/
